extends layout

block styles
  link(rel='stylesheet', href='/css/index.css')

block content
  .text-center.glow
    h1 Game Trade
  .container#list

    if games
      if (state==='games')
        br
        .row.glow
          .col-xs-2 Title
          .col-xs-2 Platform
          .col-xs-1 Rating
          .col-xs-3 Open to Trade?
          
        hr  
        each game in games 
          .row.game
            .col-xs-2.btn.btn-primary.btn-sm.showGame(data-gameId=game._id, data-userId=game.userId)=game.title
            .col-xs-2.glow.platform= game.platform
            .col-xs-1.glow.rating= game.rating
            if game.canTrade === "yes"
             .col-xs-3.glow Available for trade             
            else if game.canTrade === "no"
              .col-xs-3.glow Not available for trade
            else
              .col-xs-3.glow Game is in a pending trade

      hr

  if user
    a#addGame.btn.btn-success(href='/addGame')  Add a Game 


block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/main.js")